@font-face {
    font-family: "basiic";
    src: url("/font/basiic.ttf") format('truetype');
}

:root {
    --background-color: rgb(245, 245, 245);
    --foreground-color: rgb(23, 23, 23);
}

p, label {
    font-family: 'basiic', 'Courier New', monospace;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.box {
    border-radius: 6px;
    border: var(--foreground-color);
    border-style: ridge;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    margin-block: 8px;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

a:visited {
    color:var(--foreground-color);
}

a {
    color:var(--foreground-color);
}

a:active {
    color:gray;
}

.bottomright {
    align-items:right;
    text-align:right;
    flex-direction: column;
    position: absolute;
    bottom:10px;
    right:10px;
}

select {
    font-family: 'Courier New';
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border-style: ridge;
}

option:hover {
    box-shadow: rgb(245, 245, 245);
    color: rgb(245, 245, 245);
}